@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.ttf);
}

span{
    display: inline;
}

h1{
    color : white;
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
}

header{
    color: white;
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    color: white;
    font: bold;
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
}

body{
    color: white;
    font-family: Montserrat-Light, Lora-Regular, Merriweather-Light, Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(images/sand.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
p{
    color: white;
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;

}

a:link{
    color: white;
}
a:hover{
    color:darkgrey;
    font-size: 1.25em;
}
a:visited{
    color: blue;
}