@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.ttf);
}

span{
    display: inline;
}

h1{
    color : white;
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
}

header{
    color: white;
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

footer{
    color: white;
    font: bold;
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
}

body{
    color: white;
    font-family: Montserrat-Light, Lora-Regular, Merriweather-Light, Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(images/sand.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
p{
    color: white;
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;

}

a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
a:hover{
    color:darkgrey;
    font-size: 1.25em;
}

#Resume{
    scale: 4.5;
}

#github{
    scale: 3.5;
}

#email{
    scale: 2.25;
}

#profileimg{
    animation-name: popOut;
    animation-duration: 2.5s;
}
span:hover{
    animation-name: zoom;
    animation-duration: 1.2s;
}

@keyframes popOut{
    from{transform: scale(.01)}
}

@keyframes zoom{
    100%{transform: scale(1.1em);}
}