@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.ttf);
}

span{
    display: inline;
}

h1{
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-wrap: balance;
    margin-top: 1rem;
}

.profileimg{
    border-radius: 100%;
    border-color: #f35a14;
    animation-name: popOut;
    animation-duration: 2.5s;
}

footer{
    font: bold;
    color:floralwhite;
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 0;
    align-items: center;
}
.background-stars
{
    position: relative;
    overflow: hidden;
    height: calc(100%-60px);
}
.shooting-star{
    position: absolute;
    width: 4px;
    height: 4px;
    top: 0;
    background: #fff;
    border-radius: 50%;
    z-index: -1;
    opacity: 1;
    animation: animate 1s linear infinite;
}

.shooting-star::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

section#Greeting {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
#Greeting h1{
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4.5rem;
    font-style: italic;
    margin-bottom: 2rem;
    opacity: 0;
    animation: fadeObject 0.5s ease-in 1s forwards;
    }

#Greeting h2{
    pointer-events: none;
    opacity: 0;
    animation: slideInandFade 1s ease-in 2s forwards ;
}
.Backdrop{
    font-family: Montserrat-Light, Lora-Regular, Merriweather-Light, Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
    background-image:url("images/ai-star-ocean.jpg")
}

.Backdrop-Blurred{
    font-family: Montserrat-Light, Lora-Regular, Merriweather-Light, Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
    background-image:url("images/ocean-blurred.png")
}

#logo {
    width: 4em;
    float: left;
    position: absolute;
    margin-left: 1.5rem;
    transform: rotateY(360deg);
    transition: transform 0.7s ease-in-out;
}
p{
    font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}

a{
    text-decoration: none;
    padding: 20px;
    position: relative;
    color: antiquewhite;
}

#Contact a:hover{
    color: #f35a14;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease-in-out;
}

/* Gets rid of the the scroll bar */
.about-content::-webkit-scrollbar {
    width: 0px; /* For horizontal scrollbars */
    height: 0px; /* For vertical scrollbars */
}

.about-content {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.about-content p{
    position: inherit;
    margin-bottom: 2rem;
    font-size: clamp(1rem, 1.4vw, 1.4rem);
}

/*About CSS*/
.about-content{
    box-sizing: border-box;
    max-width: 1440px;
    position: relative;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 6rem 2rem 10rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(212, 210, 210);
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow-y: scroll;
}

.bah {
    background: -webkit-linear-gradient(left, black, gold);
    background: -o-linear-gradient(right, gold, aquamarine);
    background: -moz-linear-gradient(right,  gold, aquamarine);
   background: linear-gradient(to right,  gold, aquamarine);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bah-b {
    background: -webkit-linear-gradient(left, black, gold);
    background: -o-linear-gradient(right, gold, aquamarine);
    background: -moz-linear-gradient(right,  gold, aquamarine);
   background: linear-gradient(to right,  gold, aquamarine);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font:200px;
}

#Greeting a{
    text-decoration: none;
    padding: 6px;
}

.ClickonMe
{
    color:floralwhite;
}

#logo:hover{
    transform: rotateY(180deg);
}

.ClickonMe:hover{
    color:darkgrey;
    font-size: 1.25em;
}

.resume-button{
    background-color: white;
    color: orangered;
    border: 2.3px solid white;
    border-radius: 8px;
    padding: .625rem 1.25rem;
    margin-top: 8rem;
    text-align: center;
    font-family: Montserrat-Light, Lora-Regular, Merriweather-Light, Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    font-weight: 500;
    animation: slideInandFade 2s ease-in 3s forwards ;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease-in-out;
    
}

.resume-button:hover{
    background-color: #f35a14;
    color:white;
    border: 2.3px solid #f35a14;
    font-weight: 1000;
}

.emphasis{
    color: lightgrey; 
}

#github{
    scale: 3.5;
}

#email{
    scale: 2.25;
}

span:hover{
    transition: color ease-in-out 0.3s;
    animation-duration: 1.2s;
}

@keyframes popOut{
    from{transform: scale(.01)}
}

@keyframes zoom{
    100%{transform: scale(1.1em);}
}

@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }
}

.textBox{
    width: device-width;
    height: 20px;
}
#box1{

    color: black;
    font-size: 2em;
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}

@keyframes fadeObject {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideInandFade {
    from{
        opacity: 0;
        transform: translateY(0%);
    }
    to{
        opacity: 1;
        transform: translateY(-100%);
    }
}

@keyframes fallAnimation {
    0% {
        transform: translate(calc(100vw), 0px); /* Start position */
    }
    100% {
        transform: translate(calc(-100vw - 100px), calc(100vh + 100px)); /* End position */
    }
}

@keyframes rotateHoriz {
    from{
        transform: rotateY(0 deg) ;
    }

    to{
        transform: rotate(180 deg);
    }
    
}